---
title: "Guest Lecture: Go to market"
desc: Barry Rudistsky on the real world of business, selling, pricing, and going to market
cat: Skills
homework: comming soon!
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

#### Guest Lecturer: Barry Ruditsky

Our speaker today is Barry Ruditsky.  You can find [information about Barry on LinkedIn](https://www.linkedin.com/in/barryruditsky/). You might ask him to link to you on linkedIn as well. Barry worked with me in the company we started, eRoom Technology. Today he is in charge of business development and EMC Corporation.

Barry will explore questions of pricing and business models, partnering, actually going into the market, and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/barryruditsky">Barry Ruditsky | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
