---
title: "Guest Lecture: Go to market"
desc: Barry Ruditsky on the real world of business, selling, pricing, and going to market
cat: Entrepreneurship
homework: 1) Submit Stage 2 deliverables
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

1. <%= pdfbadge %> **Term Project Stage 2 Complete** Look at the <%= link_to_topic :cosi165a_term_project_outline %> and make sure you have completed all the deliverables stated there. <%= team_deliverable "Term project Stage 2 Deliverable" %>
1. **Read:** A good preparation for today's presentation is this quick guide to sales and marketing for startups: [The Guide to Sales and Marketing for Technical Startup People](http://startupsheartcustomers.com)

#### Guest Lecturer: Barry Ruditsky

Our speaker today is Barry Ruditsky.  You can find [information about Barry on LinkedIn](https://www.linkedin.com/in/barryruditsky/). You might ask him to link to you on linkedIn as well. Barry worked with me in the company we started, eRoom Technology. Today he is in charge of business development and EMC Corporation.

Barry will explore questions of pricing and business models, partnering, actually going into the market, and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/barryruditsky">Barry Ruditsky | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

<%= include_topic :hw_how_to_improve_course %>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
