---
title: Intellectual Property
desc: Intro to IP for Software Entrepreneurs
homework: 1) Read and answer warmups.
cat: Entrepreneurship
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>:Participation <%= timebadge %>:Early <%= pdfbadge %>:PDF

1. <%= partbadge %> <%= timebadge %> <%= pdfbadge %>. **Read** There are several ways to make sure that your work is not stolen or copied. They each have certain benefits and costs. As an entrepreneur it's important to understand each of them. These readings are a good place to start: [What are Copyrights?](http://en.wikipedia.org/wiki/Copyright), [What are Trade Secrets?](http://en.wikipedia.org/wiki/Trade_secret), [What are Patents?](http://en.wikipedia.org/wiki/Patents).  I will be asking for definitions and distinctions! Now, think about and respondn to these warmup questions:
  * In the show [Silicon Valley](http://www.hbo.com/silicon-valley), the team from [Pied Piper](http://www.piedpiper.com) has perfected a new compression algorithm which works far more effectively than what came before. Should they employ Trade Secrets, Patents, Copyrights to protect their invention? Explain your reasoning. If you think they would use a combination, then explain how and why.
  * Can you envision a scenario where you use both Patent and Trade Secret protection to protect the same product? Explain your response.
  * What 1 or 2 important things from the reading did you not understand? And if you understood it all, then what 1 or 2 important things were most insightful/useful/valuable to you. Please make sure I can tell which is which!
  * <%= deliverable "Answer these warmup questions in Latte" %>
1. **Teams**: Meet for at least 2 hours per week! Continue working on Stage 3 of <%= link_to_section :welcome, :term_project_outline %>. Continue refining your product, getting more feedback and supporting information and preparing your <%= link_to_topic :cs165a_final_deliverables %>


#### Quick Segue back to pricing
<div><img src="http://www.newyorker.com/wp-content/uploads/2015/12/151207_a19651-600.jpg" style="width: 500px;">
<div style="width: 500px; text-align: center; font-size: 120%; font-style: italic; font-weight: bold;">"The coffee is free, but now we rent the tables."</div>
<hr/>
</div>

**Question:** What are assumptions that come into play when deciding or predicting whether this is a good or bad business model? (Think, pair share)

#### Intellectual Property

* Story: eRoom and intellectual property
  * "What is your protectable intellectual property?"
  * "How will you stop Microsoft from just ripping off your product?"

* Look at: <%= link_to_topic :ip_exercise %>
  * Break up into groups to discuss and review the cases
  * Come up with answers and reasoning for as many of the cases as you can in 15 minutes
  * Report outs from each group
^
* What mechanisms are there in the US to protect IP?
  * Copyrightm
  * Trade Secret
  * Patents
  * Licenses (not exactly in the same category)
  * Trademarks (not exactly in the same category)
^
* What benefits do you get if you have IP rights? Why bother?
  * Impresses investors!
  * Patent portfolios
  * Competitive protection
^
* Protecting your IP and respecting others' IP
  * Licensing is a contract between two parties where I allow you to 'use' something that I own
  * You need to decide what you 'release' and what you don't. For example, do you release source code? Do you release your circuit diagrams, and so on. Whatever you 'release' you have to 'protect'
  * Two steps:
    * First, make it protected, so you own it
    * Second, grant someone else permission to use it in a controlled way, by licensing it
^
* Open Source and Creative Commons
  * Both allow you to control the sharing of your IP
  * Open Source is a form of license
  * [GNU General Public License](http://www.gnu.org/copyleft/gpl.html)  is the most popular
  * [Open Source Initiative](http://opensource.org/licenses) collects and explains all the variations
  * Can I make money if I open source my product?
^
* Software, Hardware
^
* [Creative commons](http://creativecommons.org) - a refinement over "all rights reserved"
^
* NDA
  * Non disclosure agreement
  * Entered in before a meeting where you will hear or tell secrets
  * Required to preserve "trade secret" status
  * FrieNDA
^
* Practical Issues for startups
  * Stealth mode: Pros and Cons
  * How do you get customer feedback if you can't tell anyone?
  * Who owns the IP, individuals or the startup?
  * Interesting scenario: <%= link_to_topic :company_founding_scenario %>
