---
title: "Guest Lecture: Growth Hacking"
desc: Case studies in real world growth hacking
homework: 1) Various readings about growth hacking
cat: Revenue
---

*with Michael Kolowich, CEO and Founder of KnowledgeVision*

This week we'll learn about "Growth Hacking", an approach to technology product development that is at the intersection of software development and marketing.  Our speaker, Michael Kolowich, has lived in both worlds -- he is a Harvard-educated software engineer AND has led marketing efforts at a series of successful software ventures.

Michael will share with us a framework for the kind of experimentation that bridges a product from "Minimum Viable Product" to commercial success.  And to do so, he'll dive in to his current project, an online video presentation platform called Knovio, which has signed up more than 190,000 users.

<%= homework_hdr %>
**Legend**: <%=partbadge%>:Participation <%= timebadge %>:Early <%= pdfbadge %>:PDF

* **Read, view, try and read**:
  1. Read the attached PDF of a blog post: <a href="../growthhacking.pdf">Growth Hacking</a>
  1. View this five-minute video by [Dave McClure on "Pirate Metrics"](https://www.youtube.com/watch?v=irjgfW0BIrw), so you understand one of the key ways we measure the components of success: "Startup Metrics for Pirates"
  1. Take 10 to 15 minutes to sign up for and try out the free version of Knovio: [www.knovio.com](http://www.knovio.com/) -- this will give you some context for the product we'll be discussing.
  1. Knovio uses a business model called "Freemium", in which it signs up most users to free accounts and then tries to upgrade a fraction of them to paid accounts.  Read this short Harvard Business Review article to understand this model a bit better: ["Making Freemium Work"](https://hbr.org/2014/05/making-freemium-work)

* **Prepare for the discussion by thinking about these questions**:
  1. One of the keys to Growth Hacking is being clear about what you're trying to optimize -- is it registered users, cash paid, active users or what?  What success measure do you think the Knovio team should be using?
  1. Which "Pirate Metrics" lever (AARRR) do you think would be most important in growing Knovio?
  1. Can you think of one or two growth experiments you'd recommend?

**Teams**: Meet face to face for at least 2 hours per week! Continue working on Stage 2 of <%= link_to_section :welcome, :term_project_outline %>. Continue refining your product, getting more feedback and supporting information and preparing your <%= link_to_topic :cs165a_final_deliverables %>

#### Guest Lecturer

* Our speaker today is Michael Kolowich, the CEO of [KnowledgeVision](http://www.knowledgevision.com). You can find [information about Michael on LinkedIn.](https://www.linkedin.com/in/kolowich). You might ask him to link to you on linkedIn!
<hr>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/kolowich" data-format="inline" data-related="false"></script>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
