---
title: "Guest Lecturer: Marketing"
desc: Francois Gossieaux will give his views about how Marketing works in the modern world of SaaS and consumer products and services.""
cat: Project
homework: comming soon!
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

#### Guest Lecturer: Francois Gossieaux

Our speaker today is Francois Gossieaux/  You can find [information about Andy on LinkedIn](https://www.linkedin.com/in/fgossieaux/). You might ask him to link to you on linkedIn as well. Francois worked with me in the company we started, eRoom Technology. He was the VP of Marketing and Chief Marketing Officer.

Francois will explore questions like: "What does marketing mean in the context of a brand new startup?", "Is Marketing an art or a science?", "How has it changed in the 21st century world of apps, SaaS and consumer products?", "How does marketing work with the Lean Startup framework" and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/fgossieaux">Francois Gossieaux | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
