---
title: "Guest Lecturer: Marketing"
desc: Francois Gossieaux will give his views about how Marketing works in the modern world of SaaS and consumer products and services.""
cat: Project
homework: comming soon!
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

1. <%= pdfbadge %> **Teams** Read: [Achieve product Market Fit](http://businessmodelalchemist.com/blog/2012/08/achieve-product-market-fit-with-our-brand-new-value-proposition-designer.html). After reading it on your own, get together with your project team, spending 1-2 hours together. Based on the reading discuss and debate the "[Value Proposition Canvas](http://www.businessmodelgeneration.com/downloads/value_proposition_canvas.pdf)" and how it applies to your project. The purpose of this exercise is for you to better understand the value proposition your product is going after, as well as the customer segment that you are going after. Continue working on Stage 2 of <%= link_to_section :welcome, :term_project_outline %>. Continue refining your product, getting more feedback and supporting information and preparing your <%= link_to_topic :cs165a_final_deliverables %> <%= team_deliverable "Write up the results of the discussion about your overall value proposition and customer segment. Also include your 'filled in' vp canvas. Dont worry about making it fancy just include the info. Submit to Latte as a pdf." %>

#### Guest Lecturer: Francois Gossieaux

Our speaker today is Francois Gossieaux/  You can find [information about Andy on LinkedIn](https://www.linkedin.com/in/fgossieaux/). You might ask him to link to you on linkedIn as well. Francois worked with me in the company we started, eRoom Technology. He was the VP of Marketing and Chief Marketing Officer.

Francois will explore questions like: "What does marketing mean in the context of a brand new startup?", "Is Marketing an art or a science?", "How has it changed in the 21st century world of apps, SaaS and consumer products?", "How does marketing work with the Lean Startup framework" and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/fgossieaux">Francois Gossieaux | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
