---
title: Growth Hacking
homework: 1) Compose email question to test a hypothesis; 2) Go out of the building for the first time and report experience.
desc: On the importance of testing your assumption. Scientific method when applied to marketing?
cat: Entrepreneurship
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF  | <%=zipbadge %>: Zipped

1. <%= pdfbadge %> <%= partbadge %> **Pirate Metrics and Growth Hacking:** Growth Hacking is a 'new profession'. The function is to develop analytical tools and techniques, and a methodology to connect spending on growth with actual results. It's closely related to 'pirate metrics' which is a funny expression cointed to describe a very effective approach. The goal of this work is to introduce you to the fundamental ideas and proponents of it, and ask you to think critically about how these techniques might come into play for your projects:
    * Read the attached PDF of a blog post: <a href="../growthhacking.pdf">Growth Hacking</a>.
    * View this five-minute video by [Dave McClure on "Pirate Metrics"](https://www.youtube.com/watch?v=irjgfW0BIrw), so you understand one of the key ways we measure the components of success: "Startup Metrics for Pirates".
    * Read and understand what is meant by Growth Hacking. There are lots of sources on the web. Here are two: [The Rise of the Growth Hacker](http://andrewchen.co/how-to-be-a-growth-hacker-an-airbnbcraigslist-case-study/).
    * <%= deliverable "Refering to those articles or any other source, how could Growth Hacking apply to your team's product?" %>
1. <%= pdfbadge %> Read and understand [Cohort Analysis](http://practicetrumpstheory.com/3-rules-to-actionable-metrics/). <%= deliverable "Explain AND SHOW how cohort analysis might apply to your team's project. You can answer this with a google spreadsheet or a note or both." %>

#### For Further Study
1. **Pirate Metrics** The seminal "Pirate Metrics" presentation by Dave McClure. [Video of Pirate Metrics](https://www.youtube.com/watch?v=4N-fiwdlxAs), and the corresponding slide deck: [Startup Metrics for Pirates](http://www.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version).

#### Pirate Metrics
* AARRR!
* Customer Lifecycle
* Where did they come from?
* Stages
  * Acquisition - users come to the site from some channel
  * Activation - users "enjoy" first visit, have a good experiecne
  * Retention - users come back, visit again
  * Referral - users like the products enough to refer others
  * Revenue - users conduct some monetization action
* What are users?
* What about two or three sided markets?
* Conversion: Getting a specific user from one to the next stage
* See: [Example Converstion Metrics](https://docs.google.com/a/brandeis.edu/spreadsheets/d/1HCOLcjFBO5sjhuwd1iICwGZ9rIzHxAENENfgExUYDjw/edit?usp=sharing)

#### Stages

##### Acquisition
* SEO
* Social networks
* Organic search
* Campaigns, contests, etc.
* Goals: Look for largest volume, lowest cost, best performing (%)
* Result: Users visit the web site

##### Activation
* Landing page
* Home page
* Good user experience
* Features
* Jobs are done, pain is removed, gain is gained
* Criteria: Vist 10-30 seconds, view 2-3pages, click 3-5 times, use 1 feature?
* Result: Users decide later to come back

##### Retention
* Emails and alerts
* Updated content
* Ongoing need and engagement
* More jobs need to be done
* Techniques: lifecycle emails, weekly/monthly status emails, event based emails
* Result: Users want to invite others

##### Referral
* Campaigns or contests encouraging referrals
* Benefits to referring others
* Jobs to be done need others
* Techniques: Only encourage users after they have activation (happy experience)
* Result: More users are acquired

##### Revenue
* Pricing models
* Visits lead to ad views lead to revenue
* Subscriptions
* Partnerships
* Techniques: Business dependent, no general rules
* Result: Revenue

#### Metrics

* Qualititatve
  * Usability Testing, Session Monitoring
  * Watch what users do, figure out problems and solutions from small samples
* Quantitative
  * Traffic Analysis, User actions
  * Track and report what users do, usage and conversion %'s for all or empirical sample of users (see cohort analysis)
* Comparative
  * A/B and multivariate testing
  * Compare what users do in one scenario vs. other
  * Features, Visuals, Colors, Pricaes, etc.

#### Quantitative & Comparative Measurements

* Conversion criteria
  * Best performing channels, campaigns, etc (%)
  * Largest volume channels, campaigns, etc (#)
  * Lowest cost channels, campaigns, etc ($)

* Components
  * Audience segment (regional, age, status, etc)
  * Channel Source (social media, organic, SOE, etc.)
  * Landing Page and call-to-action
  * Copy and graphics
  * Pricing
  etc.

* Taking action
  * Consider features that will improve conversion
  * Do a lot of A/B testing and cohort analysis
  * Measure measure measure

<%= include_topic :cohort_analysis %>

<%= include_topic :growth_hacking_summary %>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
