---
title: "Guest Lecture: Working on Teams"
desc: What are attributes of high performing teams? Of team members?
homework: 1) Read "Management Time" and write a reflection; 2) Do the behavior styles work
cat: Skills
---
<%= homework_hdr %>
1. <%= pdfbadge %> **Monkey**: Read the article [Management Time: Who's got the monkey](https://depts.washington.edu/dbpeds/Who's.Got.the.Monkey.pdf). It's a classic of personal and team effectiveness. Think about it and your gut reaction to it. Do you understand it from your own experience? Have you tried to put the monkey on someone else? Has a peer or manager or professor tried to put a monkey on your back. Do you think the perspective of this article is constructive or manipulative? <%= deliverable "Submit your response." %>
1. <%= pdfbadge %> <%= partbadge %> **Behavior Styles**: What is your behavior style and how will that help you be effective working with your team? I have sent you a .pdf workbook in email. Find it and print it out.
  * Page 1 is the most important. You will see phrases in vertical groups of 4. Read each group and circle one of the four phrases as the one that describes you, as a member of this class and project (as opposed to who you are with friends or family, which is probably different.) Don’t overthink the answer. Go fast but read all the phrases.
  * When you are done tally the results in the 4 boxes at the top. How many “C”s did you circle, how many “S” did you circle, etc. The total will be 24.
  * Look at pages 2,3,4 and mark up page 5 according to instructions there.
  * Follow instructions on page 7 to identify your style combinations. For example, I (Pito) am an Analyzer Persuader, and my alternate style is Analyzer Controller. Karen will tell us how good/evil that is. What are you?
  * Locate your style preferences on pages 8-18, read the description for yours. Circle the phrases that sound most like you and cross off the ones that sound least like you.
  * Bring your worksheets to class and submit for this assignment simply your preferred and alternate style.
* <%= deliverable "In your submission to Latte, answer just these two questions, in two lines of text: What were your 4 C,S,A,P numbers, what was your preferred and alternate styles?" %>

#### Guest Speaker: Karen Warner

Our speaker today is Karen Warner. You can find [information about Karen on LinkedIn](https://www.linkedin.com/in/karenwarnertangible). You might ask her to link to you on linkedIn as well.

Karen will lead a discussion about how we can get our work in teams during this class to be successful, productive and enjoyable.

<a class="embedly-card" href="https://www.linkedin.com/in/karenwarnertangible">Karen Warner | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

* Information and concepts helpful to being successful at team work: <%= link_to_topic :working_in_teams %>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
