---
title: "Guest Lecture: Growth Hacking"
desc: Case studies in real world growth hacking
homework: 1) Various readings about growth hacking; 2) prepare for discussions; 3) teams continue working
cat: Revenue
---

<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

1. **Read, view**:
    * Read the attached PDF of a blog post: <a href="../growthhacking.pdf">Growth Hacking</a>
    * View this five-minute video by [Dave McClure on "Pirate Metrics"](https://www.youtube.com/watch?v=irjgfW0BIrw), so you understand one of the key ways we measure the components of success: "Startup Metrics for Pirates"
1. **Prepare for the discussion by thinking about these questions**:
    * One of the keys to Growth Hacking is being clear about what you're trying to optimize -- is it registered users, cash paid, active users or what?  Thinking about your product, what success measure do you think you should be looking at?
    * Which "Pirate Metrics" lever (AARRR) do you think would be most important in growing your product?
    * Can you think of one or two growth experiments you'd recommend?
  1. **Teams**: Continue working together and independently on your product in weekly iterations. Review <%= link_to_section :welcome, :term_project_outline %> for suggestions. You are working on Stage 1, deliverables due on Oct 24.

#### Additional, optional resoureces
1. **Pirate Metrics** The seminal "Pirate Metrics" presentation by Dave McClure. [Video of Pirate Metrics](https://www.youtube.com/watch?v=4N-fiwdlxAs), and the corresponding slide deck: [Startup Metrics for Pirates](http://www.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version).

#### Guest Lecturer: Yoav Shapira

Our speaker today is Yoav Shapira. Who will speak about “Growth Hacking”, an approach to technology product development that is at the intersection of software development and marketing. You can find [information about Yoav on LinkedIn](https://www.linkedin.com/in/yoavshapira/). You might ask him to link to you on linkedIn as well. Yoav will share some of the secrets of growth hacking.

<a class="embedly-card" href="https://www.linkedin.com/in/yoavshapira">Yoav Shapira | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

### CHANGE OF PLAN: YOAV IS SICK!

<%= include_topic :ip %>


#### Next Class
* Look at homework: <%= link_to_next_lecture %>
