<h3>
  <%= citem.title %> 
  <% if citem.lecture? %>
	<small>
		(<%= citem.lecture_date_s %>, <%= citem.lecture_number_s.to_s %>)
			<%if citem.section != "root" %>
				<%= link_to_prev toc, item %> <%=link_to_next toc, item %> 
			<% end %>
	</small>
<% end %>
</h3>
<h6><%= citem.desc %></h6>
