---
title: "Speaker: Paul Baier"
desc: "How to think about your value proposition. How to go from 'idea' to building a successful company"
homework: 1)  Pilot teams perform some out of the building experiments
cat: Product Management
---
<%= homework_hdr %>

1. <%= partbadge %> **Pilot Teams Checkpoint:** Pilot teams: Continue working on your Pilot Project and the report. Invest at least 90 minutes partially as a team and partially doing "out of the building" work. Review <%= link_to_topic :pilot_project %>, specifically the section about "team deliverables." Review and update your plans with new or refined hypotheses. Prioritize which ones to test next and formulate the MVP or experiment. Assign one or two to test by each team member. Refine and agree on what you think the product will actually do. Actually try and validate them by getting out of the building. Keep notes. <%= team_deliverable "Update pilot project report with notes, hypotheses, vision in your Pilot Project Report. Convert to pdf and submit. Each team member should submit the same pdf" %>
1. <%= pdfbadge %> <%= partbadge %> **Term Project Ideation:** Work with one other student to develop a more detailed product description. **You** choose a single partner and spend 1+ hours talking and writing. You can expand on an idea on our [our list of ideas](https://moodle2.brandeis.edu/mod/data/view.php?id=597311), or create a brand new one. Either way,  develop it further and write it up with your partner. (You're welcome to add a new idea to the list now too.) Your write up should not be longer than 1 page. Each student of the pair will submit the same pdf and will get the same mark for the writeup. Points to cover in the product writeup:
    * Product name and one line summary of product
    * Description of the product, the vision, the features
    * What kind of customer(s) is it for? What "job" does it do for a user or customer(s)?
    * Why you think it's cool
    * <%= deliverable "More detailed write up of your favorite (so far) term product idea" %>

#### Interesting, but not required
1. **Read:** [How to start a startup](http://startupclass.samaltman.com/courses/lec01/) (or watch the video, but if you do, don't miss the transcript comments). 
2. **Read**: [Minimum Viable PROTOTYPE!](https://www.toptal.com/designers/prototyping/minimum-viable-prototype)

#### Guest Lecturer: Paul Baier

<a class="embedly-card" href="https://www.linkedin.com/in/paulbaier">Jeffrey Beir | LinkedIn</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
