---
title: "Guest Lecture: Starting"
desc: "Guest Lecture: Getting ideas, figuring out the good idea, ditching the bad"
homework: 1) Pilot projects perform some out of the building experiments; 2) "Read How to start a startup" and answer warmups
cat: Hypotheses
---
<%= homework_hdr %>
1. <%= timebadge %> <%= partbadge %> Read [How to start a startup](http://startupclass.samaltman.com/courses/lec01/) (or watch the video, but if you do, don't miss the transcript comments). <%= deliverable "Do the warmup quiz in Latte"%>
1. Pilot Project Teams: Review and add to your plans; update your Pilot Project Report; Design and perform at least two out of the building experiments, making sure they are responsive to a specific hypothesis. You can dole out the work to team members or do them together, whatever you prefer.

#### Quick Discussion
* Sorry for
  * the mixup on today's homework
  * I asked for one too many drafts
  * I have been spending too much time in class on reviewing the reading
* Other feedback from class
  * Like subject matter, reading, discussions and interactivity
  * Class is a lot of work
  * Would like more specific guidelines on the group projects
  * Please talk more about real world experiences
  * How to handle team members that are not willing to work?
  * Scheduling out of classroom work has been hard


#### Guest Lecturer: Reed Sturtevant

Our speaker today is Reed Sturtevant. You can find [information about Reed on LinkedIn](https://www.linkedin.com/in/reedsturtevant). You might ask him to link to you on linkedIn as well.

Here is a very interesting recent article: [Reed Sturtevant of Lotus, Idealab, and Microsoft Fame Talks Tech Trends to Watch](http://www.xconomy.com/national/2011/09/15/xconomist-of-the-week-reed-sturtevant-of-lotus-idealab-and-microsoft-fame-talks-tech-trends-to-watch/)

In his role both as an entrepreneneur and working with many many startups at Techstars, Microsoft Startup Labs and Idealab, Reed has seen (and had) great, good, so-so and terrible ideas.

Some of them have gone out to great success and some have died an ugly death.  The correlations are not clear :)

Reed will discuss where good ideas come from, how to tell a good one from a bad one, rools of thumb for generating good ideas, and other related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/reedsturtevant">Reed Sturtevant | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
