---
title: "Guest Lecture: Starting"
desc: "Guest Lecture: Getting ideas, figuring out the good idea, ditching the bad"
homework: 1) "Read How to start a startup" and answer warmups; 2) Pilot teamas perform some out of the building experiments
cat: General
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>: Participation | <%= timebadge %>: Early | <%= pdfbadge %>: PDF |  <%=cloudbadge %>: Portfolio | <%=zipbadge %>: Zipped

1. <%= timebadge %> <%= partbadge %> <%= pdfbadge %> **Read:** [How to start a startup](http://startupclass.samaltman.com/courses/lec01/) (or watch the video, but if you do, don't miss the transcript comments). Think about these warmups as you listen (or read) the lecture:
    * If you had to start a company tomorrow, what’s your best idea? Please write no more than 2 paragraphs or so.
    * If you presented your idea to Sam Altman (the lecturer in the video above), what do you think his feedback and criticism would be? Please answer briefly, 2 paragraphs or so.
    * Describe an idea (anything, not necessarily a startup) from the past that you initially dismissed as crazy/absurd/dumb/”it will never work” that ended up being successful. What were the contributors to success that surprised you? Again please be somewhat brief, 2 paragraphs or so.
    * <%= deliverable "Please submit your answers to these questions in a PDF"%>
1. **Pilot Teams:** Pilot teams: Contuinue working on your Pilot Project and the report. Invest at least 90 minutes, partially as a team and partially doing "out of the building" work. Review <%= link_to_section :welcome, :pilot_project %>, specifically the section about "team deliverables." Review and update your plans with new or refined hypotheses. Prioritize which ones to test next and formulate the MVP or experiment. Assign one or two to test by each team member. Refine and agree on what you think the product will actually do. Actually try and validate them by getting out of the building. Keep notes. <%= team_deliverable "Update pilot project report with notes, hypotheses, vision in your Pilot Project Report draft, and prepare to talk informally about out of the building experiences." %>

#### Guest Lecturer: Andy Payne

Our speaker today is Andy Payne. You can find [information about Andy on LinkedIn](https://www.linkedin.com/in/acpayne/). You might ask him to link to you on linkedIn as well. While he denies that this is article, here's a very intersting [list of the top boston area Angels](http://blog.jonpierce.com/post/520863618/bostons-best-angel-investors).

Andy will explore questions like: "Who is an entrepreneur?", "Should I start a startup?", "How can I tell if I have the right makeup to be an entrepreneur?", "How do I learn what I need to know", etc.

<a class="embedly-card" href="https://www.linkedin.com/in/acpayne">Andy Payne | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
